<main>
  <div class="w-1/3 mx-auto text-center">
    <%= if get_flash(@conn, :info) do %>
      <p class="alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <p class="alert-error" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
  </div>
  <%= @inner_content %>
</main>
