<pre>welcome to stickertrade.ca

currently, this website is under heavy development; the database at anytime is open to be nuked,
so data created at this point in time should always be considered a lost cause!

however, feel free to play around and see what fun things you can do; which at the time of writing
this message is:

- log in

- log out

- view this page

- view some other pages

- other user auth thingso

more to come!
- jack</pre>
