<div class="w-1/2 mx-auto">
    <h1>Market</h1>

    <button class="btn-primary mt-1 mb-3"><%= link "Add Sticker(s) for Trade", to: Routes.sticker_add_path(@conn, :index) %></button>

    <p>TODO list of items currently for trade, next to their owners</p>
</div>