@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  font-family: "Inter", sans-serif;
}

p,
a,
pre,
code,
label,
button,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
tr,
td {
  @apply text-light-500;
}

.button-light, .button-dark {
  @apply border focus:border-opacity-100 disabled:cursor-not-allowed disabled:opacity-60 hover:border-opacity-100 border-light-500 font-bold px-3 py-1 rounded;
}

.button-light {
  @apply border-light-500 border-opacity-50;
}

.button-dark {
  @apply border-dark-500 border-opacity-50;
}

input {
  @apply bg-dark-500 border border-light-500 border-opacity-50 focus:border-opacity-100 hover:border-opacity-100 text-light-500 px-2 py-1;
}

a:hover,
a:focus {
  @apply text-light-500;
}

.button-a:hover,
.button-a:focus {
  @apply text-light-500 underline;
}

h1 {
  @apply font-semibold;
}

h2,
h3 {
  @apply font-normal;
}

.markdown h1 {
  @apply text-2xl mt-5 mb-4;
}

.markdown h2 {
  @apply text-xl mt-4 mb-3;
}

.markdown ul {
  @apply my-3 list-disc;
}

.markdown hr {
  @apply my-4;
}

.markdown p {
  @apply my-3;
}

.markdown a {
  @apply text-secondary-500;
}

.markdown img,
.markdown video {
  @apply border-2 border-light-500 my-4 rounded-sm;
}

.markdown code {
  @apply bg-black rounded-lg;
}

.markdown blockquote {
  @apply border-l-2 border-light-500 pl-4 my-4;
}

.markdown pre {
  @apply bg-black overflow-y-auto p-4 rounded-lg;
}
